* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.rounded-end-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.rounded-start-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.accordion-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0.75rem;
    font-size: 1rem;
    border: 0;
    border-radius: 0.25rem;
    width: 100%;
    background-color: transparent;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

.accordion-btn:not(.collapsed) {
    color: #ffffff;
    background-color: var(--main);
}

.accordion-btn.collapsed i {
    transform: rotate(45deg);
    color: var(--main);
}

.accordion-button::after {
    color: #ffffff;
}

button {
    outline: 0;
    box-shadow: unset !important;
}

h1, h2, h3, h4 {
    text-transform: capitalize;
}

.h1, h1 {
    font-size: 3.5rem;
}

:root {
    --main: #35b5b9;
    --main-dark: #309996;
    --sub-main: #465096;
    --sub-main-dark: #303977;
    --light-gray: #f2f2f2;
    --gray: #e6e6e6;
}

.bg-main {
    background-color: var(--main) !important;
}

.bg-sub-main {
    background-color: var(--sub-main) !important;
}

.bg-light-gray {
    background-color: var(--light-gray) !important;
}

.btn-main {
    background-color: var(--main) !important;
    color: #ffffff;
}

.btn-main:hover {
    background-color: var(--main-dark) !important;
    color: #ffffff;
}

.btn-sub-main {
    background-color: var(--sub-main) !important;
    color: #ffffff;
}

.btn-sub-main:hover {
    background-color: var(--sub-main-dark) !important;
    color: #ffffff;
}

.btn-light-gray {
    background-color: var(--light-gray) !important;
}

.btn-light-gray:hover {
    background-color: var(--light-gray-dark) !important;
}

.text-main {
    color: var(--main) !important;
}

.text-sub-main {
    color: var(--sub-main) !important;
}

.text-light-gray {
    color: var(--light-gray) !important;
}

.py-6 {
    padding-block: 6rem !important;
}

.nav-link {
    color: #aaaaaa;
    font-weight: 500;
}

#hero-bg > img {
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
}

#hero-bg > img:last-child {
    position: relative;
}

.layer-1 {
    z-index: 1;
}

.layer-2 {
    z-index: 2;
}

.layer-3 {
    z-index: 3;
}

.layer-4 {
    z-index: 4;
}

.layer-5 {
    z-index: 5;
}

.rotate {
    animation-name: rotate;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.bounceUp {
    animation-name: bounceUp;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes bounceUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.75rem);
    }

    100% {
        transform: translateY(0);
    }
}

.moveAround {
    animation-name: moveAround;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes moveAround {
    0% {
        top: 70%;
        left: 12%;
    }
    
    25% {
        top: 70%;
        left: 13%;
    }
    
    50% {
        top: 71%;
        left: 13%;
    }
    
    75% {
        top: 71%;
        left: 12%;
    }
    
    100% {
        top: 70%;
        left: 12%;
    }
}

.hero-bg-0 {
    padding-top: 9%;
    width: 100%;
    left: 5%;
}

.shape-13, .shape-16, .shape-12, .shape-2, .shape-6, .shape-1,
.shape-5, .shape-11, .shape-17, .shape-4, .shape-7, .shape-8,
.shape-15, .shape-9 {
    bottom: -0.5rem;
}

.shape-13 {
    width: 39%;
    left: 34%;
}

.shape-16 {
    width: 7%;
    left: 27%;
}

.shape-6 {
    width: 11%;
    left: 20%;
}

.shape-12 {
    width: 5%;
    left: 15.5%;
}

.shape-2 {
    width: 5%;
    left: 11%;
}

.shape-1 {
    width: 10%;
    left: 0%;
}

.shape-5 {
    width: 10%;
    left: 0%;
}

.shape-10 {
    top: 70%;
    left: 12%;
    width: 5%;
}

.shape-11 {
    width: 9%;
    left: 28%;
}

.shape-3 {
    width: 15%;
    left: 22%;
    bottom: 25%;
}

.shape-18 {
    width: 3.5%;
    left: 54%;
    bottom: 0%;
}

.shape-17 {
    width: 7%;
    right: 36%;
}

.shape-4 {
    width: 9%;
    right: 20%;
}

.shape-7 {
    width: 6%;
    right: 28%;
}

.shape-8 {
    width: 0.85%;
    right: 25%;
}

.shape-15 {
    width: 5%;
    right: 0%;  
}

.shape-9 {
    width: 19%;
    right: 4%;
}

.shape-14 {
    width: 4%;
    right: 18.5%;
    bottom: 18%;
}

.statistics-point {
    position: relative;
    top: 0px;
    left: 50%;
    margin-left: -11px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: block;
    background-color: var(--main);
    z-index: 1;
}

.statistics-line {
    width: 0;
    height: 102px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -2px;
    border-left: 2px dashed #bac4cc;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 0;
}

.statistics-icon {
    width: 105px;
    height: 105px;
    line-height: 105px;
    display: inline-block;
    background: #ffffff;
    position: relative;
    top: 80px;
    position: relative;
    font-size: 42px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 3px 6px rgb(0 0 0 / 15%);
    box-shadow: 1px 3px 6px rgb(0 0 0 / 15%);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
}

.statistics-section {
    margin-bottom: 8rem;
}

.statistics-section:hover .statistics-line {
    height: 142px;
}

.statistics-section:hover .statistics-icon {
    top: 120px;
}

#our-blog {
    padding-top: 133px;
    background: #ecf7ff url(../images/our-blog-bg.jpg) no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    padding: 3rem;
    margin-inline: 1rem;
    position: relative;
    overflow: hidden;
}

.blog-1-bg, .blog-2-bg, .blog-3-bg, .blog-dark-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.blog-1-bg {
    background: url(../images/blog-post-1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.blog-2-bg {
    background: url(../images/blog-post-2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.blog-3-bg {
    background: url(../images/blog-post-3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.blog-card:hover .blog-dark-bg {
    background-color: #3333335f;
}

.blog-card:hover .blog-1-bg, 
.blog-card:hover .blog-2-bg, 
.blog-card:hover .blog-3-bg {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.blog-card-content {
    z-index: 1;
}

.article-card {
    text-align: center;
    text-decoration: none;
}

.article-post {
    position: relative;
    overflow: hidden;
}

.article-main-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #35b4b9dc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: white;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.article-title {
    color: #212529;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.article-card:hover .article-main-bg {
    opacity: 1;
}

.article-card:hover .article-title {
    color: var(--main);
}

.testimonial-image {
    width: 100px !important;
    display: inline !important;
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
}

#testimonial-carousel .owl-dots, #blog-carousel .owl-dots {
    text-align: center;
    margin-top: 1rem;
}

#testimonial-carousel .owl-dot,
#blog-carousel .owl-dot {
    border-radius: 50%;
    background-color: var(--main) !important;
    height: 10px;
    width: 10px;
    margin-inline: 0.25rem;
    opacity: 0.25;
}

#testimonial-carousel .owl-dot.active,
#blog-carousel .owl-dot.active {
    opacity: 1;
}

footer {
    background: url('../images/footer-bg.png') no-repeat;
    background-size: cover;
    height: 42vw;
}

[dir='rtl'] #sponsor-carousel,
[dir='rtl'] #testimonial-carousel {
    direction: ltr;
}

[dir='rtl'] #testimonial-carousel .owl-item {
    direction: rtl;
}

[dir='rtl'] .rounded-end-0 {
    border-top-right-radius: 50rem!important;
    border-bottom-right-radius: 50rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

[dir='rtl'] .rounded-start-0 {
    border-top-left-radius: 50rem!important;
    border-bottom-left-radius: 50rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

[dir='rtl'] .accordion-btn {
    text-align: right;
}

[dir='rtl'] .statistics-point {
    margin-left: auto;
    left: auto;
    right: 50%;
    margin-right: -11px;
}

[dir='rtl'] .pe-0 {
    padding-left: 0 !important;
    padding-right: auto !important;
}

[dir='rtl'] .ps-1 {
    padding-left: auto !important;
    padding-right: 0.25rem !important;
}

[dir='rtl'] .ps-2 {
    padding-left: auto !important;
    padding-right: 0.5rem !important;
}

@media screen and (max-width: 992px) {
    footer {
        background: var(--light-gray);
        background-size: unset;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .header-logo {
        height: 30px;
    }

    .help-img {
        width: 300px; 
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
    }
}